<html>
<head>
<title>DemoWEB.danrainwater.com</title>
</head>
<body>
<pre>
Server Status:          OK
Instance                <%= @ec2_instance_id %>
Serving:                demoweb.danrainwater.com
Private IP Address:     <%= @ipaddress %>
Public IP Address:      <%= @ec2_public_ipv4 %>

Another instance by Dan!
</pre>
</body>
</html>
